{erl_opts, []}.

{deps,
  [
    %% ibrowse for doing HTTP requests
    {ibrowse, "4.0.1", {git, "git://github.com/cmullaparthi/ibrowse.git", {tag, "v4.0.1"}}},

    %% mochiweb for JSON and header parsing
    {mochiweb, "2.3.2", {git, "git://github.com/mochi/mochiweb.git", {tag, "v2.3.2"}}},
    {jiffy, "0.6.1", {git, "git://github.com/davisp/jiffy.git", {tag, "0.6.1"}}},
    {ej, "0.0.2", {git, "git://github.com/seth/ej.git", {tag, "0.0.2"}}}
  ]}.
